Anul 1/Semestrul 2/Proiectare logica/Cursuri/Cursuri_Video_PL/FSM_Sinteza_p1.mp4
Anul 1/Semestrul 2/Proiectare logica/Cursuri/Cursuri_Video_PL/Diagrame_VK_p2.mp4
Anul 1/Semestrul 2/Proiectare logica/Cursuri/Cursuri_Video_PL/FSM_Sinteza_p1.mp4
Anul 1/Semestrul 2/Proiectare logica/Cursuri/Cursuri_Video_PL/Diagrame_VK_p1.mp4
